//universal rules

*{
    margin: 0;
    padding: 0;
}

//Fonts

@font-face{
    src: url(../Font/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf);
    font-family: Schwifty;
}
@font-face{
    src: url(../Font/_adult_swim_font__by_esteveztheart-dbj9by8.ttf);
    font-family: Schwifty2;
}
@font-face{
    src: url(../Font/c.ttf);
    font-family: Schwifty3;
}
@font-face{
    src: url(../Font/rick_and_morty_by_shittychan-d9h2vl6.ttf);
    font-family: Schwifty4;
}

//Background Color
$primary-background:    rgb(0, 0, 0);

//Font Types
$primary-font:          Schwifty;

//Font Colors
$font-main-color:       rgb(16, 174, 197);
$font-shadow:           black;


//Button Colors
$primary-button-color:  rgb(7, 195, 29);
$secondary-button-color:rgba(0, 255, 30, 0.6);




h3{
    font-size: 1.2rem;
    color: $font-main-color;
    text-shadow: -1.5px 0 $font-shadow, 0 1.5px $font-shadow, 1.5px 0 $font-shadow, 0 -1.5px $font-shadow;
    margin: 0.25vw 0.5vw 0.25vw 0.5vw;
    font-family: $primary-font;
}
body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 20vh 5vh 45vh 30vh;
    background-color: $primary-background;
}
.title{
    grid-column: span 12;
    width: 100vw;
    height: 20vh;
}
.headline{
    grid-column: span 12;
    text-align: center;
    font-size: 1.2rem;
    color: $font-main-color;
    text-shadow: -1.5px 0 $font-shadow, 0 1.5px $font-shadow, 1.5px 0 $font-shadow, 0 -1.5px $font-shadow;
    margin: 0.25vw 0.5vw 0.25vw 0.5vw;
    font-family: $primary-font;
}

.coin{
    grid-column: span 12;
    margin: auto;
    width: 60vw;

}
.button{
    grid-column: span 12;
    margin: auto;
    background-color: $primary-button-color;
    border: 5px solid $secondary-button-color;
    border-radius: 50px;
    font-family: $primary-font;
    cursor: pointer;
    padding: 1vw;
}