//universal rules

*{
    margin: 0;
    padding: 0;
}

//Fonts

@font-face{
    src: url(../Font/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf);
    font-family: Schwifty;
}
@font-face{
    src: url(../Font/_adult_swim_font__by_esteveztheart-dbj9by8.ttf);
    font-family: Schwifty2;
}
@font-face{
    src: url(../Font/c.ttf);
    font-family: Schwifty3;
}
@font-face{
    src: url(../Font/rick_and_morty_by_shittychan-d9h2vl6.ttf);
    font-family: Schwifty4;
}

//Background Color
$primary-background:    rgb(0, 0, 0);

//Font Types
$primary-font:          Schwifty;

//Font Colors
$font-main-color:       rgb(16, 174, 197);
$font-shadow:           black;


//Button Colors
$primary-button-color:  rgb(7, 195, 29);
$secondary-button-color:rgba(0, 255, 30, 0.6);


h3{
    font-size: 1.2rem;
    color: $font-main-color;
    text-shadow: -1.5px 0 $font-shadow, 0 1.5px $font-shadow, 1.5px 0 $font-shadow, 0 -1.5px $font-shadow;
    margin: 0.25vw 0.5vw 0.25vw 0.5vw;
    font-family: $primary-font;
}

body{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: 20vh 5vh 45vh 30vh;
    background-color: $primary-background;
}
.title{
    height: 25vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.headline{
    text-align: center;
    font-size: 1.5rem;
    color: $font-main-color;
    margin: 8vw 0.5vw 0.25vw 0.5vw;
    font-family: $primary-font;
}

.start{
    margin: 30px auto auto auto;
    width: 100%;
}
.button{
    margin: auto;
    background-color: $primary-button-color;
    border: 5px solid $secondary-button-color;
    border-radius: 50px;
    font-family: $primary-font;
    cursor: pointer;
    padding: 1vw;
}
html, body, .viewport {
    width: 100%;
    height: 100%; 
    margin: 0;
  }

  .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#flex-item {
   text-align: center;
    margin: auto;
}
.loading{
    width: 300px;
}

a{
    text-decoration: none;
    color: inherit;
}
